# **Cleaning Data**

**Data Cleaning**
Data cleaning means fixing bad data in your data set.
* Bad data could be:
* Empty cells
* Data in wrong format
* Wrong data
* Duplicates

**Empty Cells**
* Empty cells can potentially give you a wrong result when you analyze data.

In [ ]:
import pandas as pd

In [ ]:
# Read Row Data
r_df = pd.read_csv('/RowData.csv')
print(r_df)

In [ ]:
# Row Data Information
print(r_df.info())

**Empty Cells**
* Empty cells can potentially give you a wrong result when you analyze data.

**Remove Rows**
* One way to deal with empty cells is to remove rows that contain empty cells.
* This is usually OK, since data sets can be very big, and removing a few rows will not have a big impact on the result.

In [ ]:
# Return a new Data Frame with no empty cells:
p_df = r_df.dropna()
print(p_df.to_string())

In [ ]:
# Processed Data Information
print(p_df.info())

In [ ]:
# Remove all rows with NULL values:
r_df = pd.read_csv('/RowData.csv')
r_df.dropna(inplace = True)     # Note: Now, the dropna(inplace = True) will NOT return a new DataFrame, but it will remove all rows containg NULL values from the original DataFrame.
print(r_df.to_string())

**Replace Empty Values**
* Another way of dealing with empty cells is to insert a new value instead.
* This way you do not have to delete entire rows just because of some empty cells.
* The fillna() method allows us to replace empty cells with a value:

In [ ]:
# Replace NULL values with the number 130:
r_df = pd.read_csv('/RowData.csv')
r_df.fillna(130, inplace = True)
print(r_df.to_string())

**Replace Only For a Specified Columns**
* The example above replaces all empty cells in the whole Data Frame.
* To only replace empty values for one column, specify the column name for the DataFrame:

In [ ]:
# Replace NULL values in the "Calories" columns with the number 130:
df = pd.read_csv('/RowData.csv')
df["Calories"].fillna(130, inplace = True)
print(df)

**Replace Using Mean, Median, or Mode**
* A common way to replace empty cells, is to calculate the mean, median or mode value of the column.
* Pandas uses the mean() median() and mode() methods to calculate the respective values for a specified column:

In [ ]:
# Calculate the MEAN, and replace any empty values with it:
df = pd.read_csv('/RowData.csv')
x = df["Calories"].mean()
df["Calories"].fillna(x, inplace = True)
print(df)

In [ ]:
# Calculate the MEDIAN, and replace any empty values with it:
df = pd.read_csv('/RowData.csv')
x = df["Calories"].median()                # Median = the value in the middle, after you have sorted all values ascending.
df["Calories"].fillna(x, inplace = True)
print(df)

In [ ]:
# Calculate the MODE, and replace any empty values with it:
df = pd.read_csv('/RowData.csv')
x = df["Calories"].mode()[0]              # Mode = the value that appears most frequently.
df["Calories"].fillna(x, inplace = True)
print(df)

**Data of Wrong Format**
* Cells with data of wrong format can make it difficult, or even impossible, to analyze data.
* To fix it, you have two options: remove the rows, or convert all cells in the columns into the same format.

**Convert Into a Correct Format**
* In our Data Frame, we have two cells with the wrong format. 
* Check out row 22 and 26, the 'Date' column should be a string that represents a date:

Let's try to convert all cells in the 'Date' column into dates. Pandas has a to_datetime() method for this:

In [ ]:
# Convert to date:
df = pd.read_csv('/RowData.csv')
df['Date'] = pd.to_datetime(df['Date'])
print(df.to_string())

As you can see from the result, the date in row 26 was fixed, but the empty date in row 22 got a NaT (Not a Time) value, in other words an empty value. One way to deal with empty values is simply removing the entire row.

**Removing Rows**
* The result from the converting in the example above gave us a NaT value, which can be handled as a NULL value, and we can remove the row by using the dropna() method.

In [ ]:
# Remove rows with a NULL value in the "Date" column:
df.dropna(subset=['Date'], inplace = True)
print(df)

# Pandas - Fixing Wrong Data

**Wrong Data**
* "Wrong data" does not have to be "empty cells" or "wrong format", it can just be wrong, like if someone registered "199" instead of "1.99".
* Sometimes you can spot wrong data by looking at the data set, because you have an expectation of what it should be.
* If you take a look at our data set, you can see that in row 7, the duration is 450, but for all the other rows the duration is between 30 and 60.
* It doesn't have to be wrong, but taking in consideration that this is the data set of someone's workout sessions, we conclude with the fact that this person did not work out in 450 minutes.

How can we fix wrong values, like the one for "Duration" in row 7?

**Replacing Values**
* One way to fix wrong values is to replace them with something else.
* In our example, it is most likely a typo, and the value should be "45" instead of "450", and we could just insert "45" in row 7:

In [ ]:
# Set "Duration" = 45 in row 7:
df.loc[7, 'Duration'] = 45
print(df)

* For small data sets you might be able to replace the wrong data one by one, but not for big data sets.
* To replace wrong data for larger data sets you can create some rules, e.g. set some boundaries for legal values, and replace any values that are outside of the boundaries.

In [ ]:
# Loop through all values in the "Duration" column.
# If the value is higher than 120, set it to 120:
for x in df.index:
  if df.loc[x, "Duration"] > 120:
    df.loc[x, "Duration"] = 120

**Removing Rows**
* Another way of handling wrong data is to remove the rows that contains wrong data.
* This way you do not have to find out what to replace them with, and there is a good chance you do not need them to do your analyses.

In [ ]:
# Delete rows where "Duration" is higher than 120:
for x in df.index:
  if df.loc[x, "Duration"] > 120:
    df.drop(x, inplace = True)

# **Pandas - Removing Duplicates**

**Discovering Duplicates**
* Duplicate rows are rows that have been registered more than one time.
* By taking a look at our test data set, we can assume that row 11 and 12 are duplicates.
* To discover duplicates, we can use the duplicated() method.
* The duplicated() method returns a Boolean values for each row:

In [ ]:
# Returns True for every row that is a duplicate, othwerwise False:
print(df.duplicated())

**Removing Duplicates**
* To remove duplicates, use the drop_duplicates() method.

In [ ]:
# Remove all duplicates:
df.drop_duplicates(inplace = True)
print(df)

# **Pandas - Data Correlations**

**Finding RelationshipsFinding Relationships**
* A great aspect of the Pandas module is the corr() method.
* The corr() method calculates the relationship between each column in your data set.
* The examples in this page uses a CSV file called: 'data.csv'.

In [ ]:
df.corr()

Note: The corr() method ignores "not numeric" columns.

**Result Explained**
* The Result of the corr() method is a table with a lot of numbers that represents how well the relationship is between two columns.
* The number varies from -1 to 1.
* 1 means that there is a 1 to 1 relationship (a perfect correlation), and for this data set, each time a value went up in the first column, the other one went up as well.
* 0.9 is also a good relationship, and if you increase one value, the other will probably increase as well.
* -0.9 would be just as good relationship as 0.9, but if you increase one value, the other will probably go down.
* 0.2 means NOT a good relationship, meaning that if one value goes up does not mean that the other will.

**What is a good correlation?** 
* It depends on the use, but I think it is safe to say you have to have at least 0.6 (or -0.6) to call it a good correlation.

**Perfect Correlation:**
* We can see that "Duration" and "Duration" got the number 1.000000, which makes sense, each column always has a perfect relationship with itself.

**Good Correlation:**
* "Duration" and "Calories" got a 0.922721 correlation, which is a very good correlation, and we can predict that the longer you work out, the more calories you burn, and the other way around: if you burned a lot of calories, you probably had a long work out.

**Bad Correlation:**
* "Duration" and "Maxpulse" got a 0.009403 correlation, which is a very bad correlation, meaning that we can not predict the max pulse by just looking at the duration of the work out, and vice versa.

**Heat Map**

In [ ]:
import seaborn as sns

In [ ]:
sns.heatmap(df)

In [ ]:
df1 = df.drop(['Date'], axis = 1)
pd.DataFrame(df1)

In [ ]:
sns.heatmap(df1)